.main {
}

.sidebar {
  background: var(--color-panel);
  height: 100vh;
  padding: var(--margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 500px) {
    position: relative;
    height: auto;
  }
}

.content {
  height: 100vh;
  overflow-y: scroll;
  padding: var(--margin);
}
